body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: #111;
}

* {
    box-sizing: border-box;
}

h1, h3 {
    font-weight: 400;
}

.weather-app {
    min-height: 100vh;
    background-image: url(./images/day/cloudy-og.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1; /* change to '0' once the whole app is finished */
}

/* Add background overlay*/
